server:
  port: 12375

spring:
  jpa:
    open-in-view: false
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        use_sql_comments: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: ENC(n27579lQvYztbJDu3AOD2pzAvgtri5EQfaV92MKuXHwDITE99lmE9Bvx6kwipH+Hs1z31fIBZStFAw+Ml5YsngbVWc0/y0yF5rHrFXv83fjCRAAVMKbDnKgAYXWQbLIqSnqE7dQ3Ud64cDEqjwjGZ8RBx1yb3y8sXp4PoyY3v6R11DLCJuYu0A==)
    username: ENC(ot79q2Iy88CPWViGt/AnvQ==)
    password: ENC(EOh97G7L7FTaRDNiaoCcWYPLuSPQIKDQ)
    driver-class-name: com.mysql.cj.jdbc.Driver
logging:
  level:
    org:
      hibernate:
        sql: debug
        type:
          descriptor:
            sql: trace

jwt:
  secret: ENC(s9MlePyeyjYhoNHUgwZ36VetjiEA5g9CS+nIBkHS1yvm2raaXeF9NRsUHDnHs4wXDxoMfDFRiBR71vAAJVbnMahLa4X8B66T)

jasypt:
  encryptor:
    bean: jasyptStringEncryptor

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
